<div class="sobre-container" appHighlight>
  <h1 [appTextColor]="'red'">História do Pirate Codex</h1>
  <!-- Título em destaque com texto vermelho -->

  <p [appTextColor]="'blue'">
    O Pirate Codex é um projeto desenvolvido como parte da disciplina de
    Front-End Framework, com o objetivo de aplicar conceitos fundamentais na
    construção de interfaces modernas e dinâmicas. Inspirado em temas de
    aventura e literatura, o projeto utiliza o framework Angular para
    implementar páginas interativas, navegação fluida e integração com APIs
    públicas, promovendo uma experiência rica e envolvente ao usuário, enquanto
    demonstra habilidades práticas em desenvolvimento front-end.
  </p>

  <p [appTextColor]="'green'">
    O Pirate Codex é um projeto idealizado e desenvolvido por Antonio Guilherme,
    Dário Felipe, Danilo Mateus, Guilherme Cardoso, João Vilker e Uberlan Souza,
    unindo criatividade e conhecimento técnico. Pensado para explorar o
    potencial do desenvolvimento front-end, o projeto reflete a colaboração e
    dedicação da equipe em criar uma experiência interativa e envolvente para os
    usuários.
  </p>

  <p [appTextColor]="'purple'">
    Hoje, o Pirate Codex representa a união de criatividade e conhecimento
    técnico, servindo como uma fonte de inspiração e destacando a dedicação e
    colaboração de sua equipe no desenvolvimento de uma experiência interativa e
    marcante.
  </p>
</div>
