@import url("https://fonts.googleapis.com/css2?family=Anton&family=Krona+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Krona one", sans-serif;
}
.sobre-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
  background-color: #141414;
  color: #ffffff;
  text-align: center;
}

.sobre-container h1 {
  text-shadow: 2px 4px 1px black;
  font-size: 36px;
  color: aliceblue;
  margin-bottom: 20px;
}

.sobre-container p {
  font-family: "poppins", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  max-width: 600px;
  margin-bottom: 15px;
}

[appHighlight] {
  padding: 10px;
  border: 1px solid grey;
  margin: 10px 0;
}

h3 {
  font-size: 20px;
  color: #333;
}

button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #b20710;
}
