/* Definindo as cores principais do projeto */
:root {
  --primary-color: #007bff; /* Azul */
  --secondary-color: #28a745; /* Verde */
  --background-color: #f8f9fa; /* Cinza claro */
  --text-color: #333; /* Texto escuro */
  --button-background-color: #0056b3; /* Azul escuro */
  --button-hover-color: #004085; /* Azul ainda mais escuro */
}

.detalhes-livro-container {
  padding: 20px;
  background-color: var(--background-color); /* Cor de fundo */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loading,
.error-message {
  font-size: 1.1rem;
  color: var(--text-color); /* Cor do texto */
  text-align: center;
}

.livro-detalhes {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px; /* Limite de largura para grandes telas */
  margin: 0 auto; /* Centraliza o conteúdo */
  box-sizing: border-box;
}

.book-cover {
  width: 100%; /* Torna a imagem responsiva */
  max-width: 200px; /* Limita a largura da imagem */
  height: auto;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.voltar-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color); /* Cor do botão */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  max-width: 150px; /* Largura máxima para o botão */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.voltar-button:hover {
  background-color: var(
    --button-hover-color
  ); /* Cor do botão ao passar o mouse */
}

/* Consultas de mídia para tornar o layout mais responsivo */

@media (max-width: 768px) {
  .livro-detalhes {
    padding: 15px;
  }

  .loading,
  .error-message {
    font-size: 1rem;
  }

  .book-cover {
    max-width: 150px;
  }

  .voltar-button {
    padding: 8px 16px;
    max-width: 120px;
  }
}

@media (max-width: 480px) {
  .detalhes-livro-container {
    padding: 10px;
  }

  .livro-detalhes {
    padding: 10px;
  }

  .loading,
  .error-message {
    font-size: 0.9rem;
  }

  .book-cover {
    max-width: 100px;
  }

  .voltar-button {
    padding: 8px 12px;
    max-width: 100px;
  }
}
