@import url("https://fonts.googleapis.com/css2?family=Anton&family=Krona+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Container Principal dos Favoritos */
.favorites-container {
  padding: 20px;
  background-color: #141414;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Título dos Favoritos */
.favorites-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Grid de Livros Favoritos */
.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

/* Estilo dos Livros Favoritos */
.book {
  background-color: #333;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 280px;
  margin: auto;
}

.book img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.book h3 {
  font-size: 18px;
  margin: 10px 0;
}

.book p {
  font-size: 14px;
  margin: 5px 0;
}

/* Botão "Ver Detalhes" */
.details-button {
  margin-top: 10px;
  padding: 10px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.details-button:hover {
  background-color: #b20710;
}

/* Botão "Remover dos Favoritos" */
.remove-button {
  margin-top: 10px;
  padding: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.remove-button:hover {
  background-color: #c82333;
}

/* Mensagem quando não houver favoritos */
.no-results {
  text-align: center;
  font-size: 16px;
  color: #f0f0f0;
  margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
  /* Ajustes para títulos e descrições em telas menores */
  .book h3 {
    font-size: 16px;
  }

  .book p {
    font-size: 12px;
  }

  .details-button,
  .remove-button {
    font-size: 14px;
  }
}
