<div class="home-container">
  <!-- Menu Lateral -->
  <div class="menu">
    <ul class="nav-list">
      <li><a routerLink="/home" class="nav-link">Home</a></li>
      <li><a routerLink="/sugestoes" class="nav-link">Sugestões</a></li>
      <li><a routerLink="/sobre" class="nav-link">Sobre</a></li>
      <li><a routerLink="/favoritos" class="nav-link">Meus Favoritos</a></li>
    </ul>
  </div>

  <!-- Conteúdo Principal -->
  <div class="content">
    <div class="hero">
      <h1 class="hero-title">Bem-vindo à Pirate Codex</h1>
      <p class="hero-description">
        Mergulhe em mundos imaginários! Descubra uma infinidade de gêneros e
        autores.
      </p>
      <button class="btn-pesquisa" routerLink="/pesquisa">Pesquisar</button>
    </div>
  </div>
</div>
