<div class="pesquisa-container">
  <!-- Barra de busca -->
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="query"
      placeholder="Digite o título do livro..."
      (keyup.enter)="search()"
      class="search-input"
    />
    <button (click)="search()" class="search-button">Buscar</button>
    <button (click)="clearSearch()" class="clear-button">Limpar</button>
  </div>

  <!-- Feedback de carregamento -->
  <div *ngIf="isLoading" class="loading-message">Carregando livros...</div>

  <!-- Mensagens de erro -->
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <!-- Resultados da pesquisa -->
  <div class="books-grid" *ngIf="books.length > 0">
    <div class="book-card" *ngFor="let book of books">
      <img
        *ngIf="book.volumeInfo.imageLinks?.thumbnail"
        [src]="book.volumeInfo.imageLinks.thumbnail"
        [alt]="book.volumeInfo.title"
        class="book-cover"
      />
      <h3 class="book-title">
        {{ book.volumeInfo.title | uppercase | truncate : 30 }}
      </h3>
      <p class="book-authors">
        Autor(es):
        {{
          book.volumeInfo.authors?.join(", ") || "Não informado" | truncate : 40
        }}
      </p>
      <p class="book-publisher">
        Editora:
        {{ book.volumeInfo.publisher || "Não informado" | truncate : 30 }}
      </p>
      <p class="book-description">
        {{
          book.volumeInfo.description || "Descrição indisponível."
            | truncate : 100
        }}
      </p>
      <a [routerLink]="['/detalhes', book.id]" class="details-button"
        >Ver Detalhes</a
      >
      <div class="buttons">
        <button
          *ngIf="!isFavorite(book)"
          (click)="addToFavorites(book)"
          class="favorite-button"
        >
          Adicionar aos Favoritos
        </button>
        <button
          *ngIf="isFavorite(book)"
          (click)="removeFromFavorites(book)"
          class="unfavorite-button"
        >
          Remover dos Favoritos
        </button>
      </div>
    </div>
  </div>

  <!-- Mensagem de nenhum resultado encontrado -->
  <div
    *ngIf="!isLoading && books.length === 0 && !errorMessage"
    class="no-results"
  >
    Nenhum livro encontrado.
  </div>
</div>
